<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<ul th:each="cheese : ${menu.cheeses}">
    <li th:text = "${cheese.name}"></li> <!-- maybe needs to be item.name, im 9/10 this is correct-->
</ul>
<!--p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p-->
<p><a th:href="'/menu/add-item/' + ${menu.id}">Add Cheese</a></p>

</body>
</html>

